*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
  --green: #33816F;
  --blue:#147FC3;
  --light-blue:#DCEFFF;
}
body{
  font-family: "Open Sans", serif;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  margin: 0;
}

a, button, p, li, ul {
  font-size: 16px;
  font-weight: 500;
}
.w-full{
  width: 100%;
}
.w-50{
  display: inline-block;
  width: 50%;
}
.m-3{
  margin: 3rem;
}
.pt-5{
  padding-top: 5rem !important;
}
.text-blue{
  color: var(--blue);
}
.py-5{
  padding-top: 6rem;
  padding-bottom: 7rem;
}
.pb-2{
  padding-bottom: 3rem;
}
.d-flex{
    display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.justify-content-center{
  justify-content: center;
}
.align-items-end{
  align-items: flex-end;
}
.container::before{display: none;}
.container::after{display: none;}

.align-items-center{
    align-items: center;
}

.btn{
  background-color: var(--blue);
  color: #ffffff;
  border-radius: 9px;
  padding: 10px 20px;
  font-weight: 600;
  &:hover{
    color: #ffffff;
    background-color: var(--green);
  }
}
.white-btn{
  background-color: #fff;
  color: var(--blue);
  &:hover{
    color: #000000;
    background-color: #fff;
  }
}
h1 span{
  color: var(--green);
}
/* end global  */
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}
.navbar-toggle .icon-bar{
  background-color: black;
}
.navbar-logo{
    img{
        width: 200px;
    }
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li a {
  color: #000;
  font-weight: 600;
  padding: 10px 20px;
}

.navbar-inverse .navbar-nav > li > a {
	padding: 30px 25px 33px 25px;
}

.navbar-nav li a:hover {
	background-color: #ffffff;
	height: 100%;
}

.navbar-static-top{
  /* position: fixed; */
  width: 100%;
}
.hero-section{
  background: url(../images/hero-bg.png) no-repeat center center;
  background-size: cover;
  .container{
    height: 100vh;
    h1{
      color: #fff;
      font-size: 42px;
      font-weight: 700;
      padding-bottom: 20px;
    }
  }
  .blur{
    background-color: rgba(255, 255, 255, 0.13); 
    backdrop-filter: blur(13px);
    padding: 20px;
    border-radius: 20px;
  }
}
/* .hero-overlay{
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0.3701855742296919) 0%, rgba(8,81,162,0.700717787114846) 100%);
} */

.milestone-section{
  .row{
    margin-top: -80px;
    background: var(--blue);
    color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
  }
  .milestone-box{
    border-right: 2px solid #ffffff;
    h2{margin-bottom: 10px;}
    span{
      color: #FBCA38;
    }
  }
  .milestone-box.last-box {
    border-right: none;
  }
}

.why-choose-section{
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .why-choose-box{
    width: 100%;
    height: 500px;
    background: url(../images/why-choose.png) no-repeat center center;
    background-size: contain;
    position: relative;
    h1{
      position: absolute;
      bottom: 35px;
      right: 22px;
      font-size: 70px;
      font-weight: 800;
      -webkit-text-stroke: 2px var(--green);
      color: transparent;
    }
  }
  ul{
    columns: auto 2;
  }
  li {
    background: url(../images/check.png) no-repeat 3px 14px transparent;
        list-style-type: none;
        margin: 0;
        padding: 10px 0px 1px 26px;
        vertical-align: middle;
        margin-bottom: 10px;
        background-size: 16px;
  }
}


.affiliations-section{
  .d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
/* 2nd section  */
.blu-box p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}
.blu-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  border: 1px solid var(--blue);
  img{
    height: 80px;
    width: 200px;
    padding: 10px;
    object-fit: contain;
  }
  p{
    width: 100%;
    padding: 10px 40px;
    margin: 0;
    background-color: var(--blue);
    border-radius: 0 0 3px 3px;
  }
}
.nirf-box{
  padding: 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid var(--blue);
}
.nirf-box-text{
  width: 100%;
  h3{
    margin: 0;
    padding-bottom: 20px;
  }
}
.yellowborder{
  border-right: 2px solid var(--yellow);
  padding: 0 10px;
  width: 150px;
  h1{
    color:var(--blue);
    font-size: 30px;
    margin: 0;
    font-weight: 700;
  }p{
    margin: 0;
  }
}
.no-yellowborder{
  border-right: none;
}



.Instructions-section{
  background: url(../images/instructions-bg.jpeg) no-repeat center center;
  background-size: cover;
}
.Instructions-section{
  .instruction-box{
    background: #0C477FDE;
    margin: 6rem 0;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #fff;
    h1{color: var(--yellow);}
  }
  p{
    margin: 0;
  }
  li {
    background: url(../images/check-box.png) no-repeat 3px 14px transparent;
        list-style-type: none;
        margin: 0;
        padding: 10px 0px 1px 26px;
        vertical-align: middle;
        background-size: 16px;
  }
  .point-image{
    width: 500px;
    margin-left: -70px;
  }
}
.nav-tabs{
  border-bottom: none !important;
}

.course-section{
  background-color: var(--blue) !important;
  padding: 50px 0;
  .panel-default{
    border: 1px solid var(--blue);
    margin: 20px 0;
    border-radius: 6px;
  }
  .panel-default>.panel-heading{
    background: none;
    color: #000;
    border-radius: 6px;
    padding: 0px;
  }
  a.collapsed{
    background: #fff;
    color: #000000;
  }
  a{
    border-radius: 5px;
    border-bottom: 1px solid var(--blue);
  }
  .panel-heading a{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  .panel-body{
    h3 {
      padding: 10px 0;
      font-size: 18px;
      text-decoration: underline;
    }
  }
 
  .single-course{
    border-bottom: 1px solid var(--light-blue);
    padding: 10px 0;
    h5{
      font-size: 18px;
      font-weight: 600;
      color: var(--blue); 
      margin-bottom: 10px;
    }
    p{
      margin: 0;
    }
  }
  }
  .inbox{
    border-bottom: 1px solid var(--light-blue);
    padding: 10px 0;
    .cname{
      font-size: 18px;
      font-weight: 600;
      color: var(--blue);
      margin-bottom: 10px;
    }
  }
  
  .DURATION{
    color: #000;
    font-size: 20px !important;
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: underline;
  }

.admission-procedure-section , .course-section{
  background-color: #DCEFFF;
  .tab-title{
    width: 50%;
  }
  .tab-title a:hover{
    background: var(--yellow) !important;
    color: #000000 !important;
  }

  .nav-tabs{
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .tab-title a{
    padding: 20px 20px;
    text-align: center;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    background: var(--yellow) ;
    border-radius: 6px;
    color: #000000 !important;
  }
  .tab-title.active a{
    background: var(--blue) !important;
    color: #ffffff !important;
  }
  .tab-content{
    li {
      background: url(../images/check-box.png) no-repeat 3px 14px transparent;
        list-style-type: none;
        margin: 0;
        padding: 10px 0px 1px 26px;
        vertical-align: middle;
        background-size: 16px;
    }
    padding: 20px;
    background: #fff;
    margin: 12px;
    border-radius: 6px;
    h3{
      color: #000;
      font-size: 20px;
      margin-top:30px;
      margin-bottom: 5px;
    }
  }
}



.Steps-Follow{
/* .swiper-wrapper{
  background: url(../images/steps/Arrow2.png)  center right;
  background-repeat: repeat-x;

} */
  .step-box{
    display: flex;
    position: relative;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h4{
      color: #000000;
      font-size: 20px;
      font-weight: 600;
    }
    img{
      padding: 20px;
      border-radius: 6px;
      border: 1px solid var(--blue);  
      background: var(--light-blue);
      width: 90px;
      height: 90px;
      object-fit: contain;
    }
  }
  .step-box::after{
    content: '';
    position: absolute;
    bottom: -80px;
    right: -200px;
    width: 100%;
    height: 100%;
    background: url(../images/steps/Arrow.png) no-repeat;
  }
  .step-box.last-step::after{
    display: none;
  }
}



.campus-section{
  background-color: #F0F0F09C;
  .campus-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .campus-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .campus-box:hover img {
    transform: scale(1.1);
  }
  
  .overlay-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgb(0 0 0 / 100%), transparent);
        color: white;
        padding: 20px;
        text-align: center;
        h4 {
          margin: 0;
          font-size: 20px;
          font-weight: 600;
        }
  }
  .swiperbtn-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
  .button-next, .button-prev{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-next{
    background: url(../images/arrow-left.png) no-repeat center center;
    background-size: contain;
  }
    .button-prev{
    background: url(../images/arrow-right.png) no-repeat center center;
    background-size: contain;
  }
}

.Why-SRM{
  background: var(--blue);
  color: #fff;
  .d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .Why-SRM-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid var(--yellow);
  }
}

.panel-body{
  padding: 30px;
  p{
    font-size: 14px;
  }
}

.testimonial-section{
  .swiper-wrapper{margin-bottom: 70px; margin-top: 70px;}
  .swiper-slide-active{
    .testimonial-box{
      scale: 1.1;
    }
  }
  .testimonial-box{
    transition: all 0.3s ease-in-out;
    .content-box{
      background: var(--light-blue);
      color: #000;
      padding: 20px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      position: relative;
      
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--light-blue);
      }
    }
    .info-box{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img{
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
      }
      h4{
        color: #000;
        font-weight: 600;
      }
      p{
        font-size: 14px;
      }
    }
  }
}


.faq-section{
  background: #F5F5F5;
  padding-bottom: 50px;
  .panel-default>.panel-heading {
   padding: 0;
  }
  .panel.panel-default{
    border: none;
  }
  .panel-group .panel+.panel{
    margin-top: 20px;
  }
  .panel-title>a {
    width: 100%;
    padding: 20px;
    display: flex;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--blue);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
}

.cta-section{
  .row{
    background: var(--blue);
    color: #fff; 
    padding: 0 40px;
    border-radius: 20px;
  }
  .cta-image{
    width: 100%;
    margin-top: -100px;
  }
}

footer{
  .padd{
    padding: 40px 0px 30px 0px;
  }
  .footer-logo{
    width: 270px;
  }
  .social-links{
    gap: 20px;
  }
  .copyright-wrapper {
    background-color: var(--green);
    padding: 10px 0;
    text-align: center; 
    width: 100%;
  }

  .copyright {
      color: white;
      margin: 0;
  }
  .social-link {
    color: #000 !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-link i {
    color: var(--green) !important; /* Adjust the blue color as needed */
}

.social-divider {
    width: 1px;
    height: 20px;
    background-color: #000;
    margin: 0 15px;
}

.social-link span {
    color: #000;
}

}
.text-white{
  color: #fff;
}
td, th {
  padding: 10px;
}
.modal-body{
  .panel-heading{
    padding: 0
  }
  .panel-title>a {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
}
@media (min-width: 768px) {
  .modal-dialog {
      width: 70%;
      margin: 30px auto;
  }
}
/* for mobile view */
@media (max-width: 768px) {
    .nav-wrapper{
        display: block;
    }
    .navbar-nav{
        display: block;
    }
    .affiliations-section{
      .d-grid{
      grid-template-columns: repeat(1, 1fr);
    }}
    .nirf-box {
      display: block  !important;
    
    }
    .yellow-wrp{
      flex-wrap: wrap;
    }
    .yellowborder{
      border-right: none;
      padding: 20px;
      border-bottom: 2px solid var(--yellow);
    }
    .nirf-box-text h3 {
      padding: 20px;
    }
    .Instructions-section{
      .row.d-flex{
        flex-direction: column;
      }
      .point-image{
        width: 100%;
        margin-left: 0;
      }
    }
    .Scholarship{
      .row.d-flex{
        flex-direction: column;
        img{
          width: 100%;
        }
      }
    }
    .milestone-section {
      .milestone-box {
        border-right: none;
        padding: 20px;
        border-bottom: 1px solid #ffffff50;
      }
    }

      .Why-SRM {
        .d-grid {
            display: grid ;
            grid-template-columns: repeat(1, 1fr);
        }
      }
    .why-choose-section{
      .row{
        display: block;
      }
      .why-choose-box{
        height: 300px;
        margin-bottom: 30px;
        h1 {
          position: absolute;
          bottom: 0px;
          right: 14px;
          font-size: 50px;
        }
      }
    }
    .cta-section{
      .cta-image{
        margin-top: 0px;
      }
    }
    .cta-section{
      .row.d-flex{
        flex-direction: column;
      }
    }
    footer{
      .padd{
        padding: 20px;
      }
      .social-links{
        flex-direction: column;
        align-items: flex-start;
      }
      .social-divider{
        display: none;
      }
      .social-link{
        text-align: left;
      }
    }
    .step-box::after{
        bottom: 0 !important; 
        right: -60px !important;
        background-position: 111px 85px !important;
    }
    .w-50{
      display: inline-block;
      width: 100%;
    }
}

